@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

:root {
  /* Primary colors */
  --Soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --dark-blue-main: hsl(217, 54%, 11%);
  --dark-blue-card: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --primary-font: 'Outfit', sans-serif;
}

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Main container start*/
.main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Desktop background container */
.desktop-container {
  width: 95vw;
  height: 95vh;
  background-color: var(--dark-blue-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.nft-card {
  width: 302px;
  height: 544px;
  background-color: var(--dark-blue-card);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Image container */
.card-image {
  display: flex;
  width: 260px;
  height: 272px;
  border-radius: 3%;
}

/* Image */
.img-card {
  position: relative;
  width: 260px;
  height: 270px;
  border-radius: 3%;
  z-index: 1;
}

.img-view {
  position: absolute;
  padding: 111px 106px 111px 105px;
  background-color: rgba(0, 255, 255, 0.5);
  border-radius: 3%;
  z-index: 0;
}

.img-view:hover {
  cursor: pointer;
  z-index: 1;
}

.img-card:hover {
  z-index: 0;
}

/* Description container*/
.description {
  width: 260px;
  height: 163px;
  background-color: transparent;
}

h3,
.paragraph-description,
button,
p {
  font-family: var(--primary-font);
}

h3 {
  color: var(--white);
  font-weight: 600;
}

h3:hover {
  color: var(--cyan);
  cursor: pointer;
}

.paragraph-description {
  font-size: 15px;
  color: var(--Soft-blue);
  font-weight: 300;
  margin: 20px 0px;
}

.ethereum-clock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Author container */
.author {
  width: 260px;
  height: 100px;
}

button {
  background-color: var(--dark-blue-card);
  border: none;
  display: flex;
  align-items: center;
  padding: none;
}

.btn-ethereum {
  color: var(--cyan);
  padding: 0px;
}

.btn-clock {
  color: var(--Soft-blue);
  padding: 0px;
}

.img-c-e {
  padding-right: 5px;
}

/* card footer */
hr {
  color: var(--white);
  padding: 12px 0px;
}

.author {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 59px;
  border-top: 1px solid var(--dark-blue-line);
}

.author-img {
  width: 28px;
  height: 28px;
  border: 1px solid white;
  border-radius: 50%;
}

.author-description {
  color: var(--Soft-blue);
  font-size: 13px;
  padding-left: 10px;
}

.author-name {
  color: var(--white);
  text-decoration: none;
  font-size: 13px;
}

.author-name:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  margin-top: 10px;
  font-family: var(--primary-font);
}

.attribution > a {
  text-decoration: none;
}

@media (max-width: 320px) {
  .nft-card {
    width: 265px;
    height: 544px;
  }

  .img-card {
    width: 240px;
    height: 272px;
  }

  .img-view:hover {
    width: 240px;
    height: 272px;
  }
}

@media (max-width: 360px) {
  .attribution {
    padding: 5px;
  }
}
